EFDemo/Service References/WCFTestReference/ProductService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFTest.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFTest.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Input">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Input" nillable="true" type="tns:Input" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
</xs:schema>